body {
  /* font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em; */
  margin: 0;
  min-width: 800px;
}

.timeblock__tag-group {
  margin-top:      0.5em;
}

.tag {
  box-sizing:    border-box;
  border-radius: 0.25em;
  border:        1px solid rgba(100,100,100,0.4);
  color:         rgba(20,20,20,0.8);
  margin-left:   0em;
  margin:        0.25em;
}

.timeblock__title {
  /* display:       inline-block; */
  font-size:     150%;
  font-weight:   bold;
  line-height:   1.25em;
  text-align:    center;
  margin:        1em 0em;
}

/* Overwrite antd */
.upload-btn .ant-upload {
  width:         100%;
}

.toolbar {
  background-color: white;
  border-bottom:    1px solid grey;
  position:         relative;
  top:              0;
  width:            100%;
  z-index:          999;
}

.toolbar-tab-group {
  overflow:         hidden;
  max-height:       100vh;
}

.opened .toolbar-tab-group {
  max-height:       0px;
  transition:       max-height 0.3s ease;
}

.open-editor-btn {
  cursor:           pointer;
  user-select:      none;
  position:         absolute;
  background-color: greenyellow;
  border:           1px solid grey;
  transition:       all 0.2s ease;
  margin:           5px;
  height:           20px;
  width:            20px;
  border-radius:    12px;
  z-index:          1000;
}

.open-editor-btn:hover {
  background-color: rgb(49, 162, 104);
}

.opened .open-editor-btn {
  background-color: salmon;
  height:           16px;
  width:            16px;
  border-radius:    8px;
}

.opened .open-editor-btn:hover {
  background-color: sienna;
}



.toolbar-tab-group .ant-tabs-nav-list {
  margin-top: 1em;
  width: 75px;
  white-space: pre-wrap;
}