
.timetable-builder .timetable {
  color:            #CCC;
  font-family:        Arial, Helvetica, sans-serif;
  font-size:          1.25vh;
  background-color: rgb(60, 65, 60);
  margin:             0;
  padding:            0;
  min-height:         50vh;
}

.timetable-builder .timetable {
  display        : flex;
  flex-direction : row;
}

.timetable-builder .timetable .table-left-col {
  background-color: darkseagreen;
}

.timetable-builder .timetable .time-column .time {
  color:      white;
  font-size:    120%;
  font-weight:  bold;
  padding:      0 1em;
  text-align:   right;
  transform:    translateY(-0.5em);
}

.timetable-builder .timetable .table-right-col {
  background-color: orange;
  flex-grow:          1;
}

.timetable-builder .timetable .days-header {
  display         : flex;
  align-items     : end;
  background-color: grey;
  flex-direction  : row;
  height          : 100%;
  justify-content : stretch;
}

.timetable-builder .timetable .days-header .day {
  color:          white;
  font-size:        110%;
  font-weight:      bold;
  padding:          1em 0em;
  text-align:       center;
  text-transform:   uppercase;
  width:            100%;
}

.timetable-builder .timetable .table-body {
  display          : flex;
  background-color : rgb(60, 65, 60);
  flex-direction   : row;
  align-items      : end;
  justify-content  : stretch;
}

.timetable-builder .timetable .day-column {
  width: 100%;
}

.timetable-builder .timetable .table-cell {
  border-right  : 1px solid rgba(0,0,0,0.2);
  border-top    : 1px solid rgba(0,0,0,0.2);
  box-sizing    : border-box;
}

.timetable-builder .timetable .time-block {
  background-color : lightblue;
  border           : 2px solid pink;
  position         : relative;
}

.timetable-builder .timetable .time-select-preview {
  background-color : orange;
  position         : absolute;
  transition       : ease-out;
  z-index          : 2;
}


a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
